body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
.header{
    height: 95px;
    width: 100%;
    background: #1c1b21;
    position: relative;
}
.header_img{
    display: inline-block;
    width: 114px;
    height: 62px;
    position: absolute;
    left: 55px;
    top: 16px;
    background: url(../img/logo.png) no-repeat center;
}
.langular{
    display: inline-block;
    position: absolute;
    height: 26px;
    text-align: center;
    line-height: 26px;
    width: 75px;
    font-size: 18px;
    color: #fff;
    padding:3px;
    right: 55px;
    top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 26px;
}
.langular:hover{
    cursor: pointer;
}
.langular >img{
    padding-top: 10px;
    float:right;
    height: 6px;
    width: 10px;
}
.langular >span{
    position: absolute;
    z-index: 30;
    width: 75px;
    display: none;
}
.langular:hover span{
    display: block;
}
.langular a{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 16px;
}
.langular a:hover{
    color: #ff7f00;
}

.header_lists{
    display: inline-block;
    position: absolute;
    right: 145px;
}
.header_lists >li{
    float: right;
    color: #FFFFFF;
    font-size: 18px;
    margin: 35px 10px 0 10px;
}
.header_lists >li:hover{
    color: #ff7f00;
    cursor: pointer;
    border-bottom: 2px solid #ff7f00;
}
.header_lists > li>a{
    color: #FFFFFF;
    font-size: 18px;
}
.header_lists > li>a:hover{
    color: #ff7f00;
    cursor: pointer;
    border-bottom: 2px solid #ff7f00;
}
.manage{
    border-bottom: 2px solid #ff7f00;
}
.manage >a{
    color: #ff7f00!important;
}

section{
    width: 100%;
}
.token{
    width: 1200px;
    height: 600px;
    background: pink;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
}
.section_box{
    position: relative;
    top: 40px;
    height: 650px;
    width: 1200px;
    margin: 0 auto;
    display: none;
    background: #e9e9e9;
    border: 2px solid #cdcdcd;
    box-shadow: 0 0 2px 2px #cdcdcd;
    border-radius: 5px;
}
.container >h1{
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid #cdcdcd;
}
#form{
    margin-top: 45px;
}
.lbl{
    font-size: 20px;
    margin-left: 120px;
    height: 40px;
    line-height: 40px;
}
.ctrl{
    margin-left: 120px;
    margin-bottom: 20px;
    position: relative;
}
#phone{
    height: 30px;
    width: 600px;
    padding-left: 15px;
    border-radius: 5px;
    font-style: italic;
    /*border: none;*/
}
#number{
    height: 30px;
    width: 600px;
    padding-left: 15px;
    border-radius: 5px;
    font-style: italic;
    /*border: none;*/
}
#address{
    height: 30px;
    width: 600px;
    padding-left: 15px;
    border-radius: 5px;
    font-style: italic;
    /*border: none;*/
}
#message{
    height: 30px;
    width: 50px;
    padding-left: 15px;
    /*border-radius: 5px;*/
    font-style: italic;
}
.ctrl_p{
    position: absolute;
    top: 6px;
    display: inline-block;
    height: 30px;
    font-size: 18px;
}
.offset2{
    margin-left: 150px;
    margin-top: 50px;
}
#submit{
    height: 45px;
    width: 75px;
    border-radius: 10px;
    background: #cdcdcd;
    color: #5d5d5d;
    font-size: 18px;
}
#submit:hover{
    cursor: pointer;
    background: #0DA068;
    color: #ffffff;
}